flask>=3.1.1
pytelegrambotapi>=4.28.0
requests>=2.32.4
gunicorn>=22.0.0
python-dateutil
flash
crypto
pycryptodome
protobuf_decoder
google
protobuf
protobuf_decoder
pytz
jwt
flask>=3.1.1
requests>=2.32.4
gunicorn>=22.0.0
python-dateutil
pycryptodome
protobuf
google
pytz
jwt
psutil
python-telegram-bot==20.8